body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    padding-top: 70px;
    transition: margin-left 0.3s ease;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #159C39;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header-logo {
    height: 40px;
    border-right: 2px solid #f5f5f5;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.header-button-container {
    display: flex;
    align-items: center;
}

.nav-btn,
.logout-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    transition: color 0.3s;
    margin-right: -40px;
}

.nav-btn:hover,
.logout-button:hover {
    color: #04295a;
}

.logout-button {
    border-left: 2px solid #f5f5f5;
    padding-right: 40px;
    padding-left: 20px;
}

.nav-btn {
    margin-right: 15px;
}

/* Side-nav */
.side-nav {
    height: 100%;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F6F5F5;
    box-shadow: 2px 0 15px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 1;
    box-sizing: border-box;
}

.side-nav.hidden {
    transform: translateX(-100%);
}

.logo-container {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.logo {
    height: 35px;
}

.side-nav h3 {
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
    color: #159C39;
    text-align: left;
    width: 100%;
}

.side-nav hr {
    width: 100%;
    border: none;
    border-top: 1px solid black;
    margin: 8px 0;
}

.side-nav .section-title {
    font-size: 13px;
    color: #666;
    text-align: left;
    width: 100%;
}

.side-nav a {
    font-size: 15px;
    color: #333;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

.side-nav a:hover {
    background-color: #e0e0e0;
    color: #159C39;
}

.side-nav a ion-icon {
    font-size: 20px;
    margin-right: 8px;
    min-width: 24px;
    align-items: center;
}

.side-nav .side-bar-img {
    align-items: end;
    justify-content: center;
    display: flex;
    width: 100%;
}

.side-nav h5 {
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
    color: #666;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.rounded-circle {
    margin-top: 70px;
}

/* Main-content of page */
.main-content {
    margin-left: 230px;
    position: relative;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.main-content.shifted {
    margin-left: 0px;
}

/* Centered container */
.centered-container {
    max-width: 1200px; /* Increase maximum width for a larger container */
    margin: 80px auto 20px; /* Center container and adjust top margin */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.scrollable-container {     
    height: 500px;     
    border: none; 
    padding: 20px;    
    overflow-y: auto;   
    background-color: #fff; 
    border-radius: 10px; 
}

/* User container */
.user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.user-container button {
    background-color: #159C39;
    border: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.user-info h4 {
font-size: 1.3rem;
}

.user-container button:hover {
    background-color: #138a2a;
}

.user-container .btn-info {
    margin-right: 10px;
}

.user-management-header h2 {
    margin: 0;
    font-size: 30px;
    color: #159C39;
}

.search-sort-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sort-dropdown select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
}
/* Modal Header */
.modal-title {
    font-size: 1.75rem;
}
.modal-header {
    background-color: #159C39;
    color: #fff;
    border-bottom: 1px solid #ddd;
}
.modal-header .close {
    color: #fff;
    opacity: 1;
}

/* Modal Body */
.modal-body {
    padding: 20px;
}

/* Profile Details */
.profile-details h3 {
    color: #159C39;
    margin-bottom: 10px;
}

.profile-details p {
    margin: 5px 0;
}

/* Modal Footer */
.modal-footer {
    border-top: 1px solid #ddd;
}

.modal-footer .btn-success {
    background-color: #159C39;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}

.modal-footer .btn-success:hover {
    background-color: #138a2a;
}
/* Modal Close Button */
.modal-header .btn-close {
    color: #ffffff;
}
.modal-header .btn-close:hover {
    color: #ffffff; 
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-close {
    font-size: 20px;
    color:#F6F5F5;
    cursor: pointer;
    margin-left: 15px;
}
/* Ensure the modal is centered both horizontally and vertically */
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 1rem); /* Adjust for padding or spacing as needed */
}

.modal-content {
    width: 100%;
    max-width: 800px; /* Adjust max-width as needed */
}