* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.cover-page {
    min-height: 100vh;
    background: linear-gradient(to right, rgba(32, 156, 72, .6), rgba(32, 156, 72, .6)), url('../img/newcityhall.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    padding: 20px;
}

.login-form {
    background-color: #fff;
    padding: 50px 40px;
    color: black;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-weight: 600;
}

.form-header {
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
    color: #333;
}

label {
    font-size: 12.5px;
}

input {
    height: 10%;
}

.fpasstext,
a {
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    margin: 10px 0px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #ddd;
}

.divider::before {
    margin-right: .25em;
}

.divider::after {
    margin-left: .25em;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 280px;
    padding: 10px;
    border-radius: 25px;
}

.social-buttons .btn-google {
    background-color: #fff;
    color: black;
    font-size: 14px;
    font-weight: 600;
    filter: drop-shadow(0 0 0.1rem black);
}

.social-buttons .btn-facebook {
    background-color: #3b5998;
    color: white;
    font-size: 14px;
    font-weight: 600;
    filter: drop-shadow(0 0 0.1rem black);
}

.social-buttons .btn svg {
    margin-right: 8px;
}

.btn-login {
    border-radius: 25px;
    background-color: #053774;
    color: #fff;
    padding: 5px 40px;
    font-weight: 600;
}

.footertext {
    font-size: 13px;
    color: #817C7C;
    font-weight: 500;
}

.logo-header {
    margin-bottom: 20px;
}

.logo-header img {
    width: 80px;
    margin-bottom: 10px;
}

.logo-header h4 {
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    color: #333;
}

h4 {
    font-weight: 700;
}

/* Adjusts the layout for smaller screens */
.d-sm-inline-block {
    display: inline-block !important;
}
/*password-toggle*/
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    color:#6d6a6a;
    padding-right:30px;
}
#message{
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    padding: 10px;
}